<div class=" text-gray-700   ">
    <div class="flex items-center gap-3 font-semibold text-sm px-2  py-3 ">
        <img  src="../../../../assets/charticons/shopping-cart.svg" alt="">
        <div class=" h-full flex justify-between items-center w-full " nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <p class=" m-0"> E-Commerce</p>
            <span nz-icon nzType="down"></span>
        </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
            </ul>
          </nz-dropdown-menu>
    </div>

    <div class="flex items-center gap-3 font-semibold text-sm px-2  py-3 bg-blue-500 text-white">
        <img src="../../../../assets/sidebaricon/white-cart.svg" alt="">
        <p class="m-0">IoT-Dashboard</p>
    </div>

    <div class="flex items-center gap-3 font-semibold text-sm px-2  py-3">
        <img src="../../../../assets/sidebaricon/circle.svg" alt="">
        <p class="m-0">Sub Menu Option</p>
    </div>

    <div class="flex items-center gap-3 font-semibold text-sm px-2  py-3 ">
        <img src="../../../../assets/sidebaricon/circle.svg" alt="">
        <p class="m-0">Sub Menu Option</p>
    </div>

    <div class="flex items-center gap-3 font-semibold text-sm px-2  py-2 ">
        <img src="../../../../assets/sidebaricon/layers.svg" alt="">
        <div class=" h-full flex justify-between items-center w-full " nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <p class=" m-0"> Backend Integration</p>
            <span nz-icon nzType="down"></span>
        </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
            </ul>
          </nz-dropdown-menu>
    </div>

    <div class="flex items-center gap-3 font-semibold text-sm px-2  py-2 ">
        <img src="../../../../assets/sidebaricon/file-text.svg" alt="">
        <div class=" h-full flex justify-between items-center w-full " nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <p class=" m-0"> Forms</p>
            <span nz-icon nzType="down"></span>
        </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
            </ul>
          </nz-dropdown-menu>
    </div>

    <div class="flex items-center gap-3 font-semibold text-sm px-2  py-2 ">
        <img src="../../../../assets/sidebaricon/feather.svg" alt="">
        <div class=" h-full flex justify-between items-center w-full " nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <p class=" m-0"> Ui Features</p>
            <span nz-icon nzType="down"></span>
        </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
            </ul>
          </nz-dropdown-menu>
    </div>

    <div class="flex items-center gap-3 font-semibold text-sm px-2  py-2 ">
        <img src="../../../../assets/sidebaricon/tricicle.svg" alt="">
        <div class=" h-full flex justify-between items-center w-full " nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <p class=" m-0"> Modal and Overlays</p>
            <span nz-icon nzType="down"></span>
        </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
            </ul>
          </nz-dropdown-menu>
    </div>

    <div class="flex items-center gap-3 font-semibold text-sm px-2  py-2 ">
        <img src="../../../../assets/sidebaricon/crome.svg" alt="">
        <div class=" h-full flex justify-between items-center w-full " nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <p class=" m-0"> Extra Components</p>
            <span nz-icon nzType="down"></span>
        </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
            </ul>
          </nz-dropdown-menu>
    </div>

    <div class="flex items-center gap-3 font-semibold text-sm px-2  py-2 ">
        <img src="../../../../assets/sidebaricon/map.svg" alt="">
        <div class=" h-full flex justify-between items-center w-full " nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <p class=" m-0"> Maps</p>
            <span nz-icon nzType="down"></span>
        </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
            </ul>
          </nz-dropdown-menu>
    </div>

    <div class="flex items-center gap-3 font-semibold text-sm px-2  py-2 ">
        <img src="../../../../assets/sidebaricon/chat.svg" alt="">
        <div class=" h-full flex justify-between items-center w-full " nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <p class=" m-0"> Charts</p>
            <span nz-icon nzType="down"></span>
        </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
            </ul>
          </nz-dropdown-menu>
    </div>

    <div class="flex items-center gap-3 font-semibold text-sm px-2  py-2 ">
        <img src="../../../../assets/charticons/pen.svg" alt="">
        <div class=" h-full flex justify-between items-center w-full " nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <p class=" m-0"> Editors</p>
            <span nz-icon nzType="down"></span>
        </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
            </ul>
          </nz-dropdown-menu>
    </div>

    <div class="flex items-center gap-3 font-semibold text-sm px-2  py-2 ">
        <img src="../../../../assets/sidebaricon/database.svg" alt="">
        <div class=" h-full flex justify-between items-center w-full " nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <p class=" m-0"> Tables & Date</p>
            <span nz-icon nzType="down"></span>
        </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
            </ul>
          </nz-dropdown-menu>
    </div>
</div>

