
<!-- menu drawer -->
<div class=" w-full ">
    <div class="wrapper  pt-5  w-64  " >
        <ul (click)="toggleCollapsed()"  class=" sticky z-30 flex flex-col justify-between" nz-menu nzMode="inline"  [nzInlineCollapsed]="!isCollapsed">
          <li routerLink="/"
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
            nzSelected
          >
          <span class="mr-5" nz-icon nzType="home" nzTheme="outline"></span>            <span>Add Organization</span>
          </li>
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
          >
          <span class="mr-5 opacity-70" nz-icon nzType="appstore" nzTheme="outline"></span>          <span>Add Department</span>
          </li>
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
          >
          <span class=" mr-5 opacity-70" nz-icon nzType="menu" nzTheme="outline"></span>             <span>Add Menu</span>
          </li>
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
          >
          <span  class="w-4 mr-4" nz-icon  ><img  class="mr-4 " width="" height="" src="../../../assets/left-bar-icon/dobulebar.svg" alt=""></span>  
             <span>Add Screen</span>
          </li>
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
          >
          <span class="mr-5 opacity-70" nz-icon nzType="star" nzTheme="outline"></span>            <span>Builder</span>
          </li>
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
          >
          <span class="mr-5 opacity-70" nz-icon nzType="setting" nzTheme="outline"></span>
            <span>Settings</span>
          </li>
          <li
            nz-menu-item
            nz-tooltip
            nzTooltipPlacement="right"
          >
          <span routerLink="login" class="w-4 mr-5" nz-icon ><img class="  mr-4" width="" height="" src="../../../assets/left-bar-icon/logout.svg" alt=""></span> 
            <span>Log Out</span>
          </li>
        </ul>
      </div>
</div>
